.order-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--g6);
}
.order-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.order-data:first-child {
  border-top: 1px solid var(--g6);
}

.order-number,
.order-status,
.order-payment,
.order-date {
  text-align: center;
}

.order-number span,
.order-status span,
.order-payment span,
.order-date span {
  font-size: 1rem;
  display: block;
  font-weight: bold;
  color: var(--g11);
  margin-bottom: 8px;
}

.order-number p,
.order-status p,
.order-payment p,
.order-date p {
  font-size: 1rem;
  color: var(--g10);
}

.order-details-btn {
  font: 600 1rem/1.5 'Fira Sans', sans-serif;
  color: var(--p4);
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrow-active {
  rotate: 180deg;
  transition: .3s;
}

.order-address {
  margin-top: 40px;
  margin-bottom: 40px;
}

.order-address h3, .order-details h3 {
  font-size: 1rem;
  color: var(--g10);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.order-address p {
  color: var(--g10);
  margin-bottom: 8px;
}