.fav-modal {
  height: 100%; 
  width: 35%;
  position: fixed; 
  z-index: 2000; 
  top: 0; 
  right: 0;
  background-color: var(--g3); 
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 20px;
  display: none;
  animation: show-modal 1s;
  transition: ease 1s;
}

.fav-modal.active {
  display: initial;
}

.fav-modal h1{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--g11);
  text-align: center;
  margin-bottom: 20px;
}

.cart-items-area {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-resume {
  text-align: center;
  background-color: var(--g4);
  margin: 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-resume h2 {
  font-weight: bold;
  font-size: 1rem;
  color: var(--g13);
  text-transform: uppercase;
  margin-top: 20px;
}

.resume-values {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.cart-close-button {
  color: red;
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.resume-values .general-btn {
  align-self: center;
  margin-top: 20px;
}

.resume-price {
  font-weight: bold;
  color: var(--p4);
}