.footer-bg {
  background: var(--g1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo-copy img {
  margin-bottom: 40px;
}

.logo-copy p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--g9);
}

.contact h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--g13);
}

.social-icons {
  display: flex;
  gap: 20px;
}