.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background: var(--g1);
  /* background: linear-gradient(var(--p4), var(--g1)); */
  border-radius: 4px;
}

.product-card img {
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-prod-price {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--g12);
}
.product-card p {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--g8);
  margin-bottom: 20px;
}

.product-card a {
  font-weight: 400;
  font-size: 1rem;
  color: var(--g9);
}

.product-card p span {
  color: var(--p4);
}

.fav-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.filled-heart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--p2);
}

.unfilled-heart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--g1);
  border: 1px solid var(--p2);
}