.header-bg {
  background-color: var(--g1);
}

.header {
  padding-top: 72px;
  padding-bottom: 24px;  
}

.header-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-bottom: 40px; 
}

.header-options {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo {
  flex: 2;
}

.search {
  flex: 5;
  display: flex;
  align-items: center;
  gap: 20px;
}

.responsive-search {
  flex: 5;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  top: 150px;
  width: 100%; 
  gap: 20px;
}

.searchInput {
  width: 460px;
  border: none;
  border-bottom: 2px solid var(--g3);
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
  color: var(--g13);
  background: var(--g1);
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput::placeholder {
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
  color: var(--g9);
}

.searchInput:focus {
  outline: none;
}

.search-btn {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  flex: 5;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--g11);
  cursor: pointer;
  font: bold 1rem/1.1 'Fira Sans', sans-serif;
  
}

.login-btn-icon {
  border: 1px solid var(--p2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--p2);
}

.header-icon.n-mode {
  background: none;
  border: 1px solid var(--p2);
}

.categories {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}


.categories button {
  color: var(--g13);
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
}

.sex-shop-cat {
  color: var(--p1) !important;
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
}

.sexshop-categories {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.sexshop-categories button {
  color: var(--g13);
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
}

@media (max-width: 1100px) {
  .login-btn span {
    display: none;
  }
  .mob-login-btn span {
    display: none;
  }
}
@media (max-width: 1000px) {
  .search {
    display: none
  }
  .search-btn {
    display: initial;
  }
  .responsive-search.active {
    display: flex;
  }
  .sexshop-categories, .categories {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding-top: 20px;
    background: var(--p4);
  }
  .logo {
    display: none;
  }
  .actions {
    display: none
  }
  .main-menu {
    flex-direction: column;
    gap: 40px;
  }
  .search-btn {
    display: none;
  }
  .responsive-search input {
    margin-top: 20px;
    width: 50%;
  }
}