.header-bg {
  background-color: var(--g1);

}

.header {
  padding-top: 72px;
  padding-bottom: 24px;  
}

.header-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-bottom: 40px; 
}


.logo {
  flex: 2;
}

.search {
  flex: 5;
}

.searchInput {
  width: 460px;
  border: none;
  border-bottom: 2px solid var(--g3);
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
  color: var(--g13);
  background: var(--g1);
}

.searchInput::placeholder {
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
  color: var(--g9);
}

.searchInput:focus {
  outline: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  flex: 5;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--g11);
  cursor: pointer;
  font: bold 1rem/1.1 'Fira Sans', sans-serif;
  
}

.login-btn-icon {
  border: 1px solid var(--p2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--p2);
}

.header-icon.n-mode {
  background: none;
  border: 1px solid var(--p2);
}

.categories {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}


.categories a {
  color: var(--g13);
}

.sex-shop-cat {
  color: var(--p1) !important;
  font: 400 1rem/1.5 'Fira Sans', sans-serif;
}

.sexshop-categories {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.sexshop-categories a {
  color: var(--g13);
}