.stock-modal-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  animation: show-modal-up .8s;
  transition: ease 1s;
  background: rgba(0, 0, 0, 0.5);
}

.stock-modal-bg.active {
  display: initial;
  background: rgba(0, 0, 0, 0.5);
}

.stock-modal {
  padding: 40px 40px;
  background: var(--g2);
  max-width: 360px;
  margin: 40px auto;
  border-radius: 4px;
  position: relative;
}

.stock-modal h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--g11);
  margin-bottom: 40px;
}

.stock-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.stock-form input, .stock-form label {
  color: var(--g11);
  margin-left: 12px;
}

.stock-form span {
  color: var(--g1);
  font-weight: bold;
}

.stock-form-size {
  background: var(--p3);
  padding: 12px;
  border-radius: 4px;
}

.stock-btn {
  text-align: center;
}